# Data Preprocessing

We get some of our data from various resources:
1. [London Atmospheric Emissions Inventory (LAEI) 2016](https://data.london.gov.uk/dataset/london-atmospheric-emissions-inventory--laei--2016?resource=da3516ee-d8df-4a25-b0a7-46aadd39a555). This dataset contains information regarding emission for each available major road in Greater London Area.
2. [Local Authority Maintained Trees](https://data.london.gov.uk/dataset/local-authority-maintained-trees).
3. [Modelling the long-term health impacts of air pollution in London](https://data.london.gov.uk/dataset/long-term-health-impacts-of-air-pollution)

**Since all of the cleaned-up data already available there's no need to run this notebook.**

In [1]:
pip install pandas

Requirement already satisfied: pandas in ./.env/lib/python3.8/site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in ./.env/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in ./.env/lib/python3.8/site-packages (from pandas) (1.22.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.env/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./.env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the '/mnt/c/Users/irvif/dev/data-visualization/.env/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pyxlsb

Requirement already satisfied: pyxlsb in ./.env/lib/python3.8/site-packages (1.0.9)
WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the '/mnt/c/Users/irvif/dev/data-visualization/.env/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
def get_gla_lts_rd(input_file_path):
    # We only get the LTS roads which located on sheet 1
    df_sheet_laei_lts_rd = pd.read_excel(input_file_path, sheet_name=1)
    df_sheet_laei_lts_rd_gla = df_sheet_laei_lts_rd[
        df_sheet_laei_lts_rd["BoroughName_ExactCut"] != "NonGLA"
    ]
    return df_sheet_laei_lts_rd_gla

In [4]:
df_sheet_laei_2016_lts_rd_input_file_path = "data/raw/raw/greater-london-area/LAEI_2016_Detailed_Road_Transport_MajorRoads_Excel/Link/LAEI2016_MajorRoads_EmissionsbyLink_2016.xlsb"
df_sheet_laei_2016_lts_rd_gla = get_gla_lts_rd(
    df_sheet_laei_2016_lts_rd_input_file_path
)

In [5]:
df_sheet_laei_2016_lts_rd_gla.head()

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,DoT ID,Length (m),Emissions,Year,Pollutant,...,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Coach,Rigid HGV,Artic HGV,Total
20,6447,4000000027865921,526,Outer,Enfield,27883,233.431466,DFT,2016,CO2,...,571.381133,0.0,6.864563,212.556255,0.0,0.0,38.417863,274.010807,869.410394,2422.443915
21,6449,4000000027865921,528,Outer,Enfield,27883,556.683238,DFT,2016,CO2,...,1362.619638,0.0,16.370489,506.900403,0.0,0.0,91.618240,653.456134,2073.354555,5777.001472
22,6448,4000000027865921,1222,Outer,Enfield,27883,514.969431,DFT,2016,CO2,...,1260.514797,0.0,15.143803,468.916961,0.0,0.0,84.753034,604.490867,1917.992391,5344.114850
23,6621,4000000027865921,1893,Outer,Enfield,27883,13.845766,DFT,2016,CO2,...,33.890930,0.0,0.407165,12.607573,0.0,0.0,2.278719,16.252691,51.568253,143.684962
24,6622,4000000027865921,2583,Outer,Enfield,27883,133.474744,DFT,2016,CO2,...,326.712382,0.0,3.925117,121.538420,0.0,0.0,21.967109,156.677773,497.123765,1385.139227

In [6]:
def preprocess_gla_road_data(df_sheet_laei_2016_lts_rd_gla):
    road_emission_attr = [
        "BoroughName_ExactCut",
        "Length (m)",
        "Emissions",
        "Year",
        "Pollutant",
        "Motorcycle",
        "Taxi",
        "Petrol Car",
        "Diesel Car",
        "Electric Car",
        "Petrol LGV",
        "Diesel LGV",
        "Electric LGV",
        "TfL Bus",
        "Coach",
        "Rigid HGV",
        "Artic HGV",
        "Total",
        "GRID_ExactCut_ID",
        "DoT ID",
        "Toid",
    ]
    laei_columns_mapping = {
        "BoroughName_ExactCut": "borough",
        "Length (m)": "length",
        "Emissions": "emission",
        "Year": "year",
        "Pollutant": "pollutant",
        "Motorcycle": "motorcycle",
        "Taxi": "taxi",
        "Petrol Car": "petrol_car",
        "Diesel Car": "diesel_car",
        "Electric Car": "electric_car",
        "Petrol LGV": "petrol_lgv",
        "Diesel LGV": "diesel_lgv",
        "Electric LGV": "electric_lgv",
        "TfL Bus": "tfl_bus",
        "Coach": "coach",
        "Rigid HGV": "rigid_hgv",
        "Artic HGV": "artic_hgv",
        "Total": "total",
        "GRID_ExactCut_ID": "grid_id",
        "DoT ID": "dot_id",
        "Toid": "toid",
    }
    df_sheet_laei_2016_lts_rd_gla_copy = df_sheet_laei_2016_lts_rd_gla.copy()[
        road_emission_attr
    ]
    df_sheet_laei_2016_lts_rd_gla_copy = df_sheet_laei_2016_lts_rd_gla_copy.rename(
        columns=laei_columns_mapping
    )
    df_sheet_laei_2016_lts_rd_gla_copy = df_sheet_laei_2016_lts_rd_gla_copy.sort_values(
        by=["borough"]
    )
    return df_sheet_laei_2016_lts_rd_gla_copy

In [7]:
df_sheet_laei_2016_lts_rd_gla = preprocess_gla_road_data(df_sheet_laei_2016_lts_rd_gla)
df_sheet_laei_2016_lts_rd_gla.head()

,borough,length,emission,year,pollutant,motorcycle,taxi,petrol_car,diesel_car,electric_car,...,diesel_lgv,electric_lgv,tfl_bus,coach,rigid_hgv,artic_hgv,total,grid_id,dot_id,toid
343477,Barking and Dagenham,10.563642,COPERT,2016,PM25_Brake,0.000012,1.646184e-05,0.000847,0.000578,2.394834e-06,...,1.770658e-04,2.962596e-07,0.000265,0.000000,0.000166,0.000014,0.002081,1434,6658,4000000030430915
456536,Barking and Dagenham,0.000000,COPERT,2016,PM25_Resusp,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,2849,99902,4000000031048640
456537,Barking and Dagenham,14.113797,COPERT,2016,PM25_Resusp,0.000000,2.280227e-07,0.000011,0.000008,3.164465e-08,...,2.273827e-06,3.804479e-09,0.000052,0.000016,0.000033,0.000005,0.000128,2176,7518,4000000031048641
456538,Barking and Dagenham,14.355092,COPERT,2016,PM25_Resusp,0.000000,2.319211e-07,0.000011,0.000008,3.218566e-08,...,2.312701e-06,3.869522e-09,0.000052,0.000017,0.000034,0.000005,0.000130,2176,7518,4000000031048642
456539,Barking and Dagenham,5.825940,COPERT,2016,PM25_Resusp,0.000000,9.412398e-08,0.000005,0.000003,1.306238e-08,...,9.385979e-07,1.570425e-09,0.000021,0.000007,0.000014,0.000002,0.000053,792,7518,4000000031048643

In [8]:
def write_df_to_output_file(df, output_file_path):
    from pathlib import Path

    fp = Path(output_file_path)
    fp.parent.mkdir(parents=True, exist_ok=True)
    df.to_csv(fp, index=False)

In [9]:
def get_gla_tree_map(input_file_path):
    # We only have 1 sheet here
    tree_attr = ["borough", "load_date", "longitude", "latitude"]
    df_sheet_gla_tree_map = pd.read_csv(input_file_path, encoding="latin1")
    df_sheet_gla_tree_map = df_sheet_gla_tree_map[tree_attr]
    return df_sheet_gla_tree_map

In [10]:
df_sheet_gla_tree_map_2018_file_path = (
    "data/raw/raw/greater-london-area/green-spaces/london_street_trees_gla_20180214.csv"
)
df_sheet_gla_tree_map_2018 = get_gla_tree_map(df_sheet_gla_tree_map_2018_file_path)
df_sheet_gla_tree_map_2018.head()

/tmp/ipykernel_15406/3801970831.py:9: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sheet_gla_tree_map = pd.read_csv(input_file_path, encoding='latin1')

    borough  load_date  longitude   latitude
0  Barking    20180214   0.139454  51.585695
1  Barking    20180214   0.139123  51.585670
2  Barking    20180214   0.139004  51.585689
3  Barking    20180214   0.139134  51.585732
4  Barking    20180214   0.139288  51.585819

In [11]:
gla_road_data_output_file_path = "data/laei_2016_lts_rd_gla.csv"
gla_tree_map_output_file_path = "data/gla_tree_map_2018.csv"
write_df_to_output_file(df_sheet_laei_2016_lts_rd_gla, gla_road_data_output_file_path)
write_df_to_output_file(df_sheet_gla_tree_map_2018, gla_tree_map_output_file_path)